<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Email</title>

        {% include "emailing/styles.html" %}


    </head>
    <body  >

         <!-- header -->
        <table class="seamless-wrap">
            <tr>
                <td></td>
                <td class="container" bgcolor="{{ brand_bg }}" >
                    <!-- content -->
                    <div class="content">
                        <table>
                            <tr>
                                <td class="header">
                                   {% block header %}{% endblock %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /content -->
                </td>
                <td></td>
            </tr>
        </table>
        <!-- /header -->


        <!-- body -->
        <table class="body-wrap">
            <tr>
                <td></td>
                <td class="container" bgcolor="#FFFFFF">
                    <!-- content -->
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    {% block content %}{% endblock %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /content -->
                </td>
                <td></td>
            </tr>
        </table>
        <!-- /body -->
        <!-- footer -->
        <table class="footer-wrap">
            <tr>
                <td></td>
                <td class="container">
                    <!-- content -->
                    <div class="content">
                        <table>
                            <tr>
                                <td align="center">
                                    {% block footer %}
                                        {{ footer_content|safe }}
                                    {% endblock %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /content -->
                </td>
                <td></td>
            </tr>
        </table>
        <!-- /footer -->
    </body>
</html>