

<!-- Button : BEGIN -->
<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0"  align="{% if align %}{{ align }}{% else %}left{% endif %}" style="margin: auto">
    <tr >
        <td style="border-radius: 3px; background: {{ button_bg }}; text-align: {% if align %}{{ align }}{% else %}left{% endif %};" class="button-td" >
            <a href="{{ href }}" style="background: {{ button_bg }}; border: 15px solid {{ button_bg }}; font-family: sans-serif; font-size: 13px; line-height: 1.1;
                text-align: {% if align %}{{ align }}{% else %}left{% endif %}; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                <span style="color:{{ brand_color }};" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;{{ label }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </a>
        </td>
    </tr>
</table>
<br/><br/>
<!-- Button : END -->


